

.nav {
  padding: 1rem 2rem;
  background: #24292f;
  display: flex;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

.header {
  padding: 16px 32px;
  background-color: rgb(246, 248, 250);
  height: 96px;
  box-shadow: inset 0 -1px hsla(210, 18%, 87%, 1);
}

.listContainer {
  padding: 0 32px;
  margin-top: 24px;
  height: 220px;
}

.footer {
  margin-top: 40px;
  padding: 40px 16px 8px;
  border-top: 1px solid #d0d7de;
}
